
$off-black: #20222b;
$back-ground: #333745;
$light-purple: #a5afd7;
$purple: #8357c5;
$back-ground-w2:#3c4251;
$back-ground-w3: #464b5e;
$desktop-break-point: 45rem;

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;